<meta charset="utf-8">
<title>Thinkphp6-开发框架</title>
<meta name="robots" content="noarchive">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
<meta content="" name="author" />
<link rel="shortcut icon" href="/favicon.ico">
<!-- JQ -->
{load href="__FRAME__/global/plugins/jquery.min.js"}
<!-- 框架基础样式 -->
{load href="__FRAME__/global/plugins/font-awesome/css/font-awesome.min.css"}
{load href="__FRAME__/global/plugins/simple-line-icons/simple-line-icons.min.css"}
{load href="__FRAME__/global/plugins/bootstrap/css/bootstrap.css"}
{load href="__FRAME__/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css"}
{load href="__FRAME__/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css"}
{load href="__FRAME__/global/plugins/bootstrap-modal/css/bootstrap-modal.css"}
{load href="__FRAME__/global/css/components.min.css"}
{load href="__FRAME__/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css"}
{load href="__FRAME__/global/plugins/morris/morris.css"}
{load href="__FRAME__/global/plugins/fullcalendar/fullcalendar.min.css"}
{load href="__FRAME__/global/plugins/jqvmap/jqvmap/jqvmap.css"}
{load href="__FRAME__/layouts/layout/css/layout.min.css"}
{load href="__FRAME__/layouts/layout/css/themes/darkblue.css" id="style_color"}
{load href="__FRAME__/layouts/layout/css/custom.min.css"}
{load href="__FRAME__/global/plugins/bootstrap-toastr/toastr.min.css"}
{load href="__CSS__/fileinput.css"}
{load href="__CSS__/tp.css"}
<!-- 编辑器 -->
{load href="__PLUG__/ueditor/ueditor.config.js"}
{load href="__PLUG__/ueditor/ueditor.all.min.js"}