<!-- 框架基础js -->
{load href="__FRAME__/global/plugins/bootstrap/js/bootstrap.min.js"}
{load href="__FRAME__/global/plugins/js.cookie.min.js"}
{load href="__FRAME__/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"}
{load href="__FRAME__/global/plugins/jquery.blockui.min.js"}
{load href="__FRAME__/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"}
{load href="__FRAME__/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"}
{load href="__FRAME__/global/plugins/bootstrap-modal/js/bootstrap-modal.js"}
{load href="__FRAME__/global/scripts/app.min.js"}
{load href="__FRAME__/global/plugins/bootstrap-toastr/toastr.min.js"}
{load href="__FRAME__/apps/scripts/inbox.min.js"}
{load href="__FRAME__/layouts/layout/scripts/layout.min.js"}
{load href="__FRAME__/layouts/layout/scripts/demo.min.js"}
{load href="__FRAME__/layouts/global/scripts/quick-sidebar.js"}
{load href="__FRAME__/layouts/global/scripts/quick-nav.min.js"}
{load href="__FRAME__/global/plugins/moment.min.js"}
{load href="__FRAME__/global/plugins/bootstrap-daterangepicker/daterangepicker.js"}
<!-- 上传插件 -->
{load href="__PLUG__/uploadify/jquery.uploadify.min.js"}
{load href="__JS__/fileinput.js"}