{switch name="process_id"}
    {case value="1"}
    <div class="portlet box blue" style="border:1px solid #36c6d3; background-color: #36c6d3;">
        <div class="portlet-title" style="background-color: #36c6d3;">
            <div class="caption" style="width:60%;">
                <i class="fa fa-pie-chart"></i> 数据状态统计 </div>
            <div class="tools">
                <!-- collapse/expand -->
                <a href="javascript:;" class="expand" data-original-title="收合/展开" title=""> </a> 
            </div>
        </div>
        <div class="portlet-body" style="display:none">
            <ul class="list-unstyled">
                <li> 12706(万思超)：未处理3 / 处理中5</li>
                <li> 12706(万思超)：未处理3 / 处理中5</li>
                <li> 12706(万思超)：未处理3 / 处理中5</li>
                <li> 12706(万思超)：未处理3 / 处理中5</li>
                <li> 12706(万思超)：未处理3 / 处理中5</li>
            </ul>
        </div>
    </div>
    {/case}
{/switch}

